<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Hulp</title>
    <link rel="stylesheet" href="assets/css/sobre.min.css">
</head>
<body>
    <h1>Sobre</h1>
    <div class="area">
        <p>Calculadora 1.0 com Gulp</p>
        <p>Criado durante o curso Frontend do Zero ao Profissional da B7Web</p>
    </div>
    
</body>
</html>