* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #555;
    color: #FFF;
    font-size: 15px;
}
.area {
    width: 300px;
    border: 1px solid #FFF;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
